<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Prosta Strona</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-image:url(/compute-ea4c57a4.png);
        }
        .container{
            background-color: lightcyan;
        }
    </style>
</head>
<body>
   




        <div class="container">
            <div class="row">
                <div class="col mt-3">
                    <h1>Informacja o autorach</h1>
                     
                        <h2 class="mt-4">Autorami tej strony są:</h2>
                        <h3>Kacper Ujma</h3>
                        <h3>Wiktoria Tęcza </h3>
                        <h3>Julia Tajak</h3>
                        <h3>Studenci Politechniki Wrocławskiej</h3>
                        
                        <a class="btn btn-dark mt-5 mb-3" href="/website/templates/main.html">Powrót na stronę główną</a>
                        
                </div>
            </div>
        </div>
</body>
</html>
