<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Projekt</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-image: url(/static/compute-ea4c57a4.png);
        }

        .container {
            background-color: lightcyan;
        }
        #siema{
            text-align: left;
        }
        
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h1>Projekt strony internetowej na przedmiot Technologie Informacyjne w wykonaniu studentów </h1>
                <p>Strona liczy calke Riemanna z mozliwoscia wyboru przedziału całkowania oraz dostosowania liczby podziału danego przedziaiłu.</p>
                <div id="siema"><p>
                Oto główne funkcje i cechy projektowanej strony internetowej:<br>
                -Wprowadzanie własnej funkcji do całkowania.<br> 
                -Wybór przedziału całkowania: Strona internetowa umożliwi użytkownikom wprowadzenie wartości dolnej i górnej granicy przedziału, na którym chcą obliczyć całkę Riemanna.<br>             
                -Dostosowanie liczby podziału przedziału: Użytkownicy będą mieli możliwość dostosowania liczby podziału danego przedziału. Im większa liczba podziału, tym bardziej dokładne będą obliczenia, ale z większym kosztem obliczeniowym. Strona internetowa pozwoli na regulację tej wartości, aby użytkownicy mogli uzyskać optymalną precyzję obliczeń w zależności od swoich potrzeb.<br>
                </p>
                <p>
                Obliczanie całki Riemanna: Po wprowadzeniu odpowiednich wartości przedziału i liczby podziału, strona internetowa wykorzysta algorytm liczbowy do obliczenia przybliżonej wartości całki Riemanna dla podanych parametrów i wyświetli wynik na ekranie.<br>
                Rysowanie wykresu: Strona internetowa umożliwia wizualizację wyników w postaci wykresu. Użytkownik może zobaczyć wykres całkowanej funkcji dla wybranego przedziału.
                Projektowany projekt strony internetowej pozwoli studentom na praktyczne zastosowanie wiedzy z zakresu całkowania Riemanna, umożliwi interaktywne eksplorowanie różnych parametrów oraz pomoże w wizualizacji wyników dla lepszego zrozumienia zagadnienia.
                </p></div>
                <a class="btn btn-dark mt-5 mb-3" href="/">Powrót na stronę główną</a>
            </div>
        </div>
    </div>
</body>

</html>